<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Assignment</title>
</head>

<body>
    <div class="container mx-auto">
        <h3 class="title">Hi <%= username %>, You have been assigned a project</h3>
        <p>You are here by required to work on this project below. kindly login to your portal to see more information</p>
        <p>title : <b><%= title %></b></p>
        <p>description: <i><%= description %></i></p>
        <p>start: <%= startDate %> - <%= endDate%></p>
        <p>Powered by Salma limited. The leading project management system providers</p>
    </div>
</body>

</html>